<div class="card">
  <div class="card-body">
    <h6 class="card-title">Task Management System</h6>
    <hr>
    <p class="card-text">
      <%= @greeting %>
    </p>
    <p class="card-text">
      You are assigned a task by <%= @assign_task_by%>.
      Please go through task and for any doubt contact the person who assign this task to you.
    </p>
    <span class="card-text"> Your Task Details are Given Below:- </span>
    <br>
    <table class="table">
      <thead class="thead-dark">
      <th scope="col" colspan="3" class="text-center">
        <%= @task.task_name %>
      </th>
      </thead>
      <tbody>
      <tr>
        <td><strong>Task ID         :</strong></td>
        <td colspan="2"><%= @task.id%></td>
        <td><strong>Task Category   :</strong></td>
        <td colspan="2"><%= @task.category.name%></td>
      </tr>
      <% if @task.sub_task.present? %>
        <tr>
          <td class="red"><strong>Sub tasks       :</strong></td>
          <td colspan="2">
            <table>
              <% @task.sub_task.each do |subtask| %>
                <tr>
                  <td><strong><%= @task.sub_task.index(subtask)+1 %>.</strong></td>
                  <td><strong>Name :</strong></td>
                  <td><%= subtask.name%></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Deadline        :</strong></td>
        <td colspan="2"><%= DateTime.parse(@task.submit_date.to_s).strftime("%d-%m-%Y %I:%M %p")%></td>
      </tr>
      <tr>
        <td><strong>Priority        :</strong></td>
        <td colspan="2"><%= @task.priority%></td>
      </tr>
      <tr>
        <td><strong>Task Assigned By:</strong></td>
        <td colspan="2"><%= @assign_task_by%></td>
      </tr>
      </tbody>
    </table>
    <br>
    <p>For more details visit<%= link_to "here", @url %>
    <hr>
    <p> See you online</p>
    <p>Task Management System Team</p>
    <p class="red">
      Note: This is a auto generated email. Please do not reply to this email.
    </p>
  </div>
</div>
