<table class="table table-striped table-bordered table-hover table-dark" data-toggle="table">
  <caption class="text-center"> List of Tasks</caption>
  <thead>
    <tr class="text-center">
      <th scope= "col">#</th>
      <th scope= "col" data-sortable="true">Task ID</th>
      <th scope= "col">Task Name</th>
      <th scope= "col">Category</th>
      <th scope= "col">Priority</th>
      <th scope= "col">Deadline</th>
      <% if admin? || hr? %>
        <th scope= "col">Assigned To</th>
      <% end %>
      <th scope= "col">Assigned By</th>
      <% if admin? || hr?%>
        <th scope= "col"> Status</th>
        <th scope= "col">View Task</th>
      <%else%>
        <th scope= "col">View Task</th>
        <th scope= "col"> Submit Task</th>
        <th scope= "col"> Approval</th>
      <% end %>
      <% if admin? %>
        <th scope= "col"> Approval</th>
        <th scope= "col">Edit</th>
        <th scope= "col">Delete</th>
      <% elsif hr? %>
        <th scope= "col">Approve</th>
        <th scope= "col">Print</th>
      <%end%>
    </tr>
  </thead>
  <% if @tasks.present? %>
    <tbody id="task_table">
      <% i=0 %>
      <% @tasks.each do |task|%>
        <tr class="
          <% if task.submit && task.approved%>
           green
           <% elsif task.submit && !task.approved %>
           yellow
          <% else %>
            red
          <% end %>">
          <td><%= i=i.to_i + 1 %></td>
          <td class= "text-center"><%= task.id%></td>
          <td class= "text-center"><%= task.task_name%></td>
          <td class= "text-center"><%= Category.find(task.task_category).name%></td>
          <td id="priority" class= "text-center"><%= task.priority%></td>
          <td class= "text-center"><%= DateTime.parse(task.submit_date.to_s).strftime("%d-%m-%Y - %I:%M %p") %></td>
          <% if admin? || hr? %>
            <td class="text-center"><%= task.user.name %></td>
          <% end %>
          <td class= "text-center"><%= User.find(task.assign_task_by).name %></td>
          <% if admin? || hr?%>
            <td class= "text-center">
              <% if task.submit%>
                Submitted
              <% else %>
                In Progress
              <% end%>
            </td>
            <td class="text-center">
              <%= link_to "", task_path(task), class:"fa fa-eye" %>
            </td>
          <%else%>
            <td class="text-center">
              <%= link_to "", task_path(task), class:"fa fa-eye" %>
            </td>
            <td class= "text-center">
              <% if !task.submit%>
                <%= link_to "SUBMIT", submit_task_task_path(task), class:"btn btn-success"%>
              <% else  %>
                Submitted
              <% end%>
            </td>
            <% if task.submit%>
              <td class="text-center">
                <% if task.approved %>
                  Approved
                <% else %>
                  Pending
                <% end %>
              </td>
            <% end%>
          <% end %>
          <% if admin? %>
            <td class="text-center">
            <% if task.approved%>
              Approved
            <%else%>
              <%= link_to "approve", approve_task_path(task), class:"btn btn-success" if task.submit%>
            <%end%>
            </td>
            
              <td class="text-center">
              <% unless task.approved%>
                <%= link_to "", edit_task_path(task), class:"fa fa-edit"%>
              <%end%>
              </td>
              
            <td class="text-center">
              <%= link_to "", task_path(task), data: {confirm: "Are you sure to delete?" }, method: :delete, class:"fa fa-trash"%>
            </td>
          <% elsif hr? && task.submit%>
          <td class="text-center">
            <% if task.approved%>
              Approved
            <%else%>
              Pending
            <%end%>
            </td>
            <td class="text-center">
              <%= link_to "","#", onclick:"window.print(); return false;", class: "fa fa-print" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <%else%>
  <tbody>
    <tr>
      <td colspan="13" class="text-center">No Record Found</td>
    </tr>
  </tbody>
  <% end %>
</table>
