<table class="table table-striped table-bordered table-hover table-dark" data-toggle="table">
  <caption class="text-center"> List of Tasks</caption>
  <thead>
    <tr class="text-center">
      <th scope= "col">#</th>
      <th scope= "col">Task Name</th>
      <th scope= "col">Category</th>
      <th scope= "col">Priority</th>
      <th scope= "col">Deadline</th>
      <% if current_user.admin%>
        <th scope= "col">Assigned To</th>
      <% end %>
      <% unless ["user_assigned_task"].include?(params[:action])%>
        <th scope= "col">Assigned By</th>
      <% end %>
      <% if current_user.admin %>
        <th scope= "col"> Status</th>
      <% else %>
        <th scope= "col"> Submit Task</th>
      <% end %>
      <th scope= "col">View Task</th>
      <th scope= "col"> Approval</th>
      <% if current_user.admin %>
        <% if ["approved_task"].include?(params[:action])%>
          <th scope= "col">Send to HR</th>
        <% end %>
        <th scope= "col">Edit</th>
        <th scope= "col">Delete</th>
      <% elsif current_user.hr %>
        <th scope= "col">Print</th>
      <%end%>
    </tr>
  </thead>
  <% if @tasks.present?%>
    <tbody id="task_table">
      <% i=0 %>
      <% @tasks.each do |task|%>
        <tr class="
          <% if task.submit && task.approved%>
           green
           <% elsif task.submit && !task.approved %>
           yellow
          <% else %>
            red
          <% end %>">
          <td><%= i=i.to_i + 1 %></td>
          <td class= "text-center"><%= task.task_name%></td>
          <td class= "text-center"><%= task.category.name%></td>
          <td id="priority" class= "text-center"><%= task.priority%></td>
          <td class= "text-center"><%= DateTime.parse(task.submit_date.to_s).strftime("%d-%m-%Y - %I:%M %p") %></td>
          <% if current_user.admin %>
            <td class="text-center"><%= task.user.name %></td>
          <% end %>
          <% unless ["user_assigned_task"].include?(params[:action])%>
            <td class= "text-center"><%= task.assign_by.name %></td>
          <% end %>
          <td class= "text-center">
            <% if current_user.admin %>
              <% if task.submit%>
                Submitted
              <% else %>
                In Progress
              <% end%>
            <%else%>
              <% if !task.submit%>
                <%= link_to "SUBMIT", submit_task_task_path(task), data: { disable_with: "wait.." }, class:"btn btn-success"%>
              <% else  %>
                Submitted
              <% end%>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to "", task_path(task), class:"fa fa-eye" %>
          </td>
          <td class="text-center">
            <% if task.approved%>
              Approved
            <% else %>
              <% if current_user.admin || task.assign_task_by == current_user.id %>
                <%= link_to "approve", approve_task_path(task),data: { disable_with: "wait..." }, class:"btn btn-success" if task.submit%>
              <% else %>
                <% if task.submit %>
                  Pending
                <% end %>
              <% end %>
            <% end %>
          </td>
          
          <% if current_user.admin || task.assign_task_by == current_user.id %>
            <% if task.approved && current_user.admin && ["approved_task"].include?(params[:action])%>
              <td class= "text-center">
                <%= link_to "Notify HR", notify_hr_task_path(task), class:"btn btn-success", remote: :true, data: { disable_with: "notifying.." } %>
              </td>
            <% end %>
            <% if !task.approved || current_user.admin %>
              <td class="text-center">
                <%= link_to "", edit_task_path(task), class:"fa fa-edit" %>
              </td>
            <% end %>
            <td class="text-center">
              <%= link_to "", task_path(task), data: {confirm: "Are you sure to delete?"}, method: :delete, class:"fa fa-trash"%>
            </td>
          <% elsif current_user.hr && task.notify_hr %>
            <td class="text-center">
              <%= link_to "", print_task_details_tasks_path(task), class:"fa fa-print"%>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <%else%>
  <tbody>
    <tr>
      <td colspan="13" class="text-center">No Record Found</td>
    </tr>
  </tbody>
  <% end %>
</table>

