<% content_for :title, "" %>
<h1 class="text-center">TASKS ASSIGNED BY ME</h1>
<div class="page-wrapper">
  <div class="tasklist-wrapper">
    <div class="card card-6">
      <div class="card-body">
        <div class="task-list">
          <div class="row">
            <% unless current_user.hr%>
              <div class="col-12 col-sm-4 task-index-col text-center">
                <%= link_to "CREATE TASK", new_task_path, class: "btn btn-primary btn-lg" %>
              </div>
              <div class="col-12 col-sm-4 task-index-col text-center">
                <%= link_to "BACK", users_dashboard_path, class: "btn btn-secondary btn-lg" %>
              </div>
            <% end %>
            <div class="col-12 col-sm-4 task-index-col text-center">
              <div class="form-group row">
                <% priorities=["Low", "Medium", "High", "In progress", "Submitted", "Approved", "Pending"]%>
                <span class="fa fa-filter col-3 text-right"></span>
                <div class="col-7 text-right">
                  <%= select_tag(:priority, options_for_select(priorities), prompt:"All", class:"form-control btn btn-outline-success text-center") %>
                </div>
                <div class="col-2"></div>
                <div class="col-12 col-sm-8 col-md-4"></div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover table-dark" data-toggle="table">
            <caption class="text-center"> List of Tasks Assigned by You</caption>
            <thead>
              <tr class="text-center">
                <th scope= "col">#</th>
                <th scope= "col">Task ID</th>
                <th scope= "col">Task Name</th>
                <th scope= "col">Category</th>
                <th scope= "col">Priority</th>
                <th scope= "col">Deadline</th>
                <th scope= "col">Assigned To</th>
                <th scope= "col">Status</th>
                <th scope= "col">View</th>
                <th scopr= "col">Approve</th>
                <th scope= "col">Edit</th>
                <th scope= "col">Delete</th>
              </tr>
            </thead>
            <% if @Tasks_assigned_by.present? %>
              <tbody id="task_table">
                <% @Tasks_assigned_by.each do |task|%>
                  <tr class="
                    <% if task.submit && task.approved %>
                      green
                    <% elsif task.submit && !task.approved %>
                      yellow
                    <% else %>
                      red
                    <% end %>">
                    <td scope="row"><%= @Tasks_assigned_by.index(task)+1 %></td>
                    <td class= "text-center"><%= task.id%></td>
                    <td class= "text-center"><%= task.task_name%></td>
                    <td class= "text-center"><%= task.category.name%></td>
                    <td id="priority" class= "text-center"><%= task.priority%></td>
                    <td class= "text-center"><%= DateTime.parse(task.submit_date.to_s).strftime("%d-%m-%Y - %I:%M %p") %></td>
                    <td class="text-center"><%= task.user.name %></td>
                    <td class= "text-center">
                      <% if task.submit%>
                        Submitted
                      <% else %>
                        In Progress
                      <% end%>
                    </td>
                    <td class="text-center">
                      <%= link_to "", task_path(task), class:"fa fa-eye" %>
                    </td>
                    <% if task.assign_task_by == current_user.id %>
                      <td class="text-center">
                        <% unless task.approved%>
                          <%= link_to "approve", approve_task_path(task), class:"btn btn-success" if task.submit%>
                        <%else%>
                          Approved
                        <%end%>
                      </td>
                      <td class="text-center">
                        <% unless task.approved%>
                          <%= link_to "", edit_task_path(task), class:"fa fa-edit"%>
                        <%end%>
                      </td>
                      <td class="text-center">
                        <%= link_to "", task_path(task), data: {confirm: "Are you sure to delete?" }, method: :delete, class:"fa fa-trash"%>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
