<% content_for :title, "Search" %>
<h1 class="text-center"><%= @tasks.count %> tasks match your search</h1>
<div class="page-wrapper">
  <div class="tasklist-wrapper">
    <div class="card card-6">
      <div class="card-body">
        <div class="task-list">
          <div class="index-table">
            <table class="table table-striped table-bordered table-hover table-dark" data-toggle="table">
              <caption class="text-center"> List of Tasks</caption>
              <thead>
                <tr class="yellow text-center">
                  <th scope= "col">#</th>
                  <th scope= "col">Task Name</th>
                  <th scope= "col">Category</th>
                  <th scope= "col">Priority</th>
                  <% if admin?%>
                    <th scope= "col">Assigned To</th>
                  <% end %>
                  <th scope= "col">View Task</th>
                  <% if admin? %>
                    <th scope= "col">Edit</th>
                    <th scope= "col">Delete</th>
                  <%end%>
                </tr>
              </thead>
              <% if @tasks.present? %>
                <tbody id="task_table">
                  <% i=0 %>
                  <% @tasks.each do |searched_task| %>
                    <%task = Task.find(searched_task.id)%>
                    <% if !task.approved %>
                      <tr class="green">
                        <td><%= i=i.to_i + 1 %></td>
                        <td class= "text-center"><%= task.task_name%></td>
                        <td class= "text-center"><%= task.category.name%></td>
                        <td id="priority" class= "text-center"><%= task.priority%></td>
                        <% if admin? %>
                          <td class="text-center"><%= task.user.name %></td>
                        <% end %>
                        <td class="text-center">
                          <%= link_to "", task_path(task.id), class:"fa fa-eye" %>
                        </td>
                        <% if admin? %>
                          <td class="text-center">
                            <%= link_to "", edit_task_path(task.id), data: { disable_with: "..." }, class:"fa fa-edit" %>
                          </td> 
                          <td class="text-center">
                            <%= link_to "", task_path(task.id), data: {confirm: "Are you sure to delete?" }, method: :delete, data: { disable_with: "..." }, class:"fa fa-trash"%>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              <%else%>
              <tbody>
                <tr>
                  <td colspan="13" class="text-center">No Record Found</td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>