<% content_for :title, "Overview" %>
<div class="row justify-content-center">
  <% if current_user.admin || current_user.hr %>
    <div class="col-12 col-md-6 col-lg-3">
      <%= link_to users_path do %>
        <div class="white-box analytics-info">
          <h3 class="box-title">USERS</h3>
          <div class="div-inline">
            <div class="overview-icon"><i class="fa fa-users text-success"></i></div>
            <div class="count text-right">
              <span class="counter text-success"><%= user_count %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if current_user.admin %>
    <div class="col-12 col-md-6 col-lg-3">
      <%= link_to categories_path do %>
        <div class="white-box">
          <h3 class="box-title">CATEGORIES</h3>
          <div class="div-inline">
            <div class="overview-icon"><i class="fa fa-tags text-danger"></i></div>
            <div class="count text-right">
              <span class="counter text-danger"><%= category_count %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="col-12 col-md-6 col-lg-3">
    <%= link_to tasks_path do %>
      <div class="white-box">
        <h3 class="box-title">TASKS</h3>
        <div class="div-inline">
          <div class="overview-icon"><i class="fa fa-newspaper-o text-primary"></i></div>
          <div class="count text-right">
            <span class="counter text-primary"><%= tasks_count %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <%= link_to approved_task_tasks_path do %>
      <div class="white-box">
        <h3 class="box-title">APPROVED</h3>
        <div class="div-inline">
          <div class="overview-icon"><i class="fa fa-check-circle text-info"></i></div>
          <div class="count text-right">
            <span class="counter text-info"><%= approved_task_count %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <%= link_to user_assigned_task_tasks_path do %>
      <div class="white-box">
        <h3 class="box-title">SET TASKS</h3>
        <div class="div-inline">
          <div class="overview-icon"><i class="fa fa-check-square text-orange"></i></div>
          <div class="count text-right">
            <span class="counter text-orange"><%= set_task_count %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if current_user.admin %>
    <div class="col-12 col-md-6 col-lg-3">
      <%= link_to notified_task_tasks_path do %>
        <div class="white-box">
          <h3 class="box-title">NOTIFIED TASKS</h3>
          <div class="div-inline">
            <div class="overview-icon"><i class="fa fa-flag text-purple"></i></div>
            <div class="count text-right">
              <span class="counter text-purple"><%= notified_count %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6 col-12">
    <div class="white-box">
      <h3 class="box-title">Recent Tasks</h3>
      <div class="task-center p-t-10">
        <% if @tasks.present? %>
          <% @tasks.each do |task| %>
            <div class="task-body">
              <div class="user-img">
                <% if task.assign_by.avater.present? %>
                  <%= image_tag task.assign_by.avater.url(:thumb), alt: "image_#{task.id}", class: "img-circle" %>
                <% else %>
                  <%= image_tag "blank-profile-picture-male.png", alt: "image_#{task.id}", class: "img-circle" %>
                <% end %>
              </div>
              <div class="task-contnet">
                <h5><%= link_to  "#{task.task_name}", task_path(task.id) %></h5>
                <span class="time">By <%=task.assign_by.name %>, <%= DateTime.parse(task.created_at.to_s).strftime("%I:%M %p %d %b,%Y") %></span>
                <br />
                <span class="task-desc"><%= task.description %></span>
              </div>
            </div>  
          <% end %>
        <% else %>
          <div class="task-body vertical-center">
            <h5 class="text-center">No task availavle</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="white-box">
      <h3 class="box-title">Recent Approved Tasks</h3>
      <div class="task-center p-t-10">
        <% if @approved_tasks.present? %>
          <% @approved_tasks.each do |task| %>
            <div class="task-body">
              <div class="user-img"> 
                <% if task.assign_by.avater.present? %>
                  <%= image_tag task.assign_by.avater.url(:thumb), class: "img-circle", alt: "image_#{task.id}" %>
                <% else %>
                  <%= image_tag "blank-profile-picture-male.png", class: "img-circle", alt: "image_#{task.id}" %>
                <% end %>
              </div>
              <div class="task-contnet">
                <h5><%= task.task_name %></h5>
                <span class="time">By <%= task.assign_by.name %>, <%= DateTime.parse(task.created_at.to_s).strftime("%I:%M %p %d %b,%Y") %></span>
                <br />
                <span class="task-desc"><%= task.description %></span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="task-body vertical-center">
            <h5 class="text-center">No approved task availavle</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>