<nav class="navbar navbar-expand-md bg-dark">
  <a class="navbar-brand" href=<%= root_path %> >Task Management System</a>
  <% if current_user %>
    <ul class="nav text-center ml-auto">
      <% unless current_page?("/notifications")%>
        <% count = (Notification.unread(current_user.id)).count if current_user %>
        <li class="">
          <a class="notification-icon" id="notify" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i><span class="red" id="unread_count"><%= count%></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right notification-menu" aria-labelledby="#notify">
            <div class="dropdown-header">
              <div class="row">
                <div class="col-5 text-left">
                  <h5>Notification
                    <span class="red" id="unread_count1">
                      (<%= count%>)
                    </span>
                  </h5>
                </div>
                <div class="col-4 text-right">
                  <h6>
                    <%= link_to "Mark all as read", mark_all_read_notifications_path, method:"post", class:""%>
                  </h6>
                </div>
                <div class="col-3 text-right">
                  <h6>
                    <%= link_to "See all",notifications_path%>
                  </h6>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="notification-body" id="notifications">
              <%= render "layouts/notification" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse <%= "ml-auto" unless current_user %>" id="navbarSupportedContent">
    <% if current_user %>
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">
              <strong>Home</strong>
              <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="<%= overview_path %>">
              <strong>Dashboard</strong>
              <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
          <% if current_user.hr %>
            <a class="nav-link" href="<%= approved_task_tasks_path %>"><strong> Approved Task</strong></a>
          <% else %>
            <a class="nav-link" href="<%= tasks_path %>">
              <strong>
                <% if current_user.admin %>
                  All Tasks
                <% else %>
                  My Task
                <% end %>
              </strong>
            </a>
          <% end%>
        </li>
      </ul>

      <ul class="nav text-center ml-auto">	
        <li class="nav-dropdown dropdown">	
          <a class="dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	
            <strong>Hi, <%= current_user.name.split(" ").first %></strong>	
          </a>	
          <div class="dropdown-menu logout-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
            <div><%= link_to  " Logout", session_path(current_user), method: :delete, class: "nav-link fa fa-power-off logout" %></div>	
          </div>	
        </li>	
      </ul>
    <% else%> 
      <% unless["new"].include?(params[:action])%>
        <ul class="navbar-nav ml-auto">
          <li class="p-t-10 text-center">
            <%= link_to "Admin Login", new_session_path, class:"btn btn-outline-success" %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</nav>
