<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="<%= root_path%>">Task Management System</a>
  <%if logged_in?%>
    <div class="mobile-notify ml-auto" >
      <a class="notification-icon nav-link" id="notify" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i><span class="red" id="unread-count">(<%= (Notification.unread(current_user.id)).count if logged_in?%>)</span>
      </a>
      <div class="dropdown-menu notification-menu dropdown-menu-right" aria-labelledby="#notify">
        <div class="dropdown-header">
          <div class="row">
            <div class="col-5 text-left">
              <h5>Notification
                <span class="red" id="unread-count1">(

                  <%= (Notification.unread(current_user.id)).count if logged_in?%>)
                </span>
              </h5>
            </div>
            <div class="col-4 text-right">
              <h6>
                <%= link_to "Mark all as read", mark_all_read_notifications_path, method:"post", class:""%>
              </h6>
            </div>
            <div class="col-3 text-right">
              <h6>
                <%= link_to "See all",notifications_path%>
              </h6>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div id="notifications">
          <%= render "layouts/notification" %>
        </div>
      </div>
    </div>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user %>
    <ul class="navbar-nav nav-item align-items-center"">
      <li>
        <%= render "layouts/search" %>
      </li>
    </ul>
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item active">
            <a class="nav-link" href="<%= user_dashboard_path %>">
              <strong>Dashboard</strong>
              <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%=tasks_path%>"><strong>My Tasks</strong></a>
        </li>
        <li class="desktop-notify">
          <a class="nav-link notification-icon" id="notify" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i><span class="red" id="unread-count">(<%= (Notification.unread(current_user.id)).count if logged_in?%>)</span>
          </a>
          <div class="dropdown-menu notification-menu dropdown-menu-right" aria-labelledby="#notify">
            <div class="dropdown-header">
              <div class="row">
                <div class="col-5 text-left">
                  <h5>Notification
                    <span class="red" id="unread-count1">(
                      <%= (Notification.unread(current_user.id)).count if logged_in?%>)
                    </span>
                  </h5>
                </div>
                <div class="col-4 text-right">
                  <h6>
                    <%= link_to "Mark all as read", mark_all_read_notifications_path, method:"post", class:""%>
                  </h6>
                </div>
                <div class="col-3 text-right">
                  <h6>
                    <%= link_to "See all",notifications_path%>
                  </h6>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div id="notifications1">
              <%= render "layouts/notification" %>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avater? %>
              <%= image_tag current_user.avater.url(:thumb) ,class: "profile-circle"%>
            <% else %>
              <%= image_tag "blank-profile-picture-male.png", class:"blank-circle"%> 
            <% end %>
            <strong><%= current_user.name %></strong>
          </a>
          <div class="dropdown-menu logout-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
            <div><%= link_to "Change Profile", user_path(current_user.id) %></div>
            <div><%= link_to "Logout", logout_path, method:"delete" %></div>
          </div>
        </li>
      </ul>
    <% else%> 
      <% unless["new"].include?(params[:action])%>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-center">
            <%= link_to "Admin Login", admin_login_path, class:"btn btn-outline-success my-2 my-sm-0" %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</nav>
