<% if logged_in? %>
  <% Notification.unread(current_user.id).includes(:user, :recipient, :task).reverse.each do |notification| %>
    <% if notification.notifiable_type == "Task" %>
      <%= link_to mark_as_read_notification_path(notification.id), class:"dropdown-item" do%>
        <div class="notify-content">
          <div class="notify-image">
            <% if notification.action == "assigned" %>
                <i class="fa fa-tasks"></i>
              </div>
              <div class="notify-info">
                <div><strong><%= notification.user_id.name%></strong></div>
                <p><%=notification.action + " a task to You."%></p>
            <% elsif notification.action == "approved" %>
              <i class="fa fa-check-circle"></i>
              </div>
              <div class="notify-info">
                <div><strong><%= notification.user.name %></strong></div>
                <p><%= notification.action + " a task, assigned to You."%></p>
            <% elsif notification.action == "approved by" %>
                <i class="fa fa-check-square"></i>
              </div>
              <div class="notify-info">
                <h5><%= notification.user.name%></h5>
                <p><%="Approved a task, assigned to " + notification.task.user.name %></p>
            <% elsif ["Daily","Weekly", "Monthly", "Quarterly", "Half yearly", "Yearly"].include?(notification.action) %>
                <i class="fa fa-bullhorn"></i>
              </div>
              <div class="notify-info">
              <div><strong><%= notification.action + " reminder "%></strong></div>
                <p><%= "Please submit your task on or before " +  DateTime.parse(notification.task.submit_date.to_s).strftime("%d-%m-%Y %I:%M %p") + "." %></p>
            <% elsif notification.action == "submitted" %>
              <i class="fa fa-check-circle"></i>
              </div>
              <div class="notify-info">
                <div><strong><%= notification.user.name %></strong></div>
                <% if notification.recipient == notification.task.assign_by %>
                  <p><%= notification.action + " a task, assigned by You."%></p>
                <% else %>
                  <p><%="#{notification.action} a task, assigned by #{notification.task.assign_by.name}"%></p>
                <% end %>
            <% else %>
                <i class="fa fa-tasks"></i>
              </div>
              <div class="notify-info">
                <h5><strong><%= notification.user.name%></strong></di5>
                <p><%= notification.action + " a task, assigned to You."%></p>
            <% end %>
            <span class="notify-time">  
              <% if DateTime.parse(notification.created_at.to_s).in_time_zone("Kolkata").day != DateTime.now.in_time_zone("Kolkata").day %>
                <%= DateTime.parse(notification.created_at.to_s).strftime("%d-%m-%Y %I:%M %p")%>
              <% elsif ((DateTime.now.in_time_zone("Kolkata") - DateTime.parse(notification.created_at.to_s).in_time_zone("Kolkata")) / 1.minute).to_i < 60 %>
                <%= ((DateTime.now.in_time_zone("Kolkata") - DateTime.parse(notification.created_at.to_s).in_time_zone("Kolkata")) / 1.minute).to_i %> minutes ago
              <% else %>
                <%= ((DateTime.now.in_time_zone("Kolkata") - DateTime.parse(notification.created_at.to_s).in_time_zone("Kolkata")) / 1.hour).to_i %> hours ago
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    <%end%>
  <% end %>
<% end %>