<% Notification.where(recipient: current_user).unread.reverse.each do |notification| %>
  <% if notification.notifiable_type == "Task" %>
    <% if notification.action == "assigned" %>
      <%= link_to mark_as_read_notification_path(notification.id), class:"dropdown-item" do%>
        <%= notification.user.name + " " + notification.action + " a task to You."%>
      <% end %>
    <% elsif notification.action == "deleted" %>
        <a class="dropdown-item" href="">
          <%= notification.user.name + " " + notification.action + " a task, assigned to You."%>
        </a>
    <% elsif notification.action == "approved" %>
      <%= link_to mark_as_read_notification_path(notification.id),class:"dropdown-item" do%>
        <%= notification.user.name + " " + notification.action + " a task, assigned to You."%>
      <% end %>
    <% elsif notification.action == "approved by" %>
      <%= link_to mark_as_read_notification_path(notification.id),class:"dropdown-item" do%>
        <%= notification.user.name + " approved a task, assigned to " + User.find(Task.find(notification.notifiable_id).assign_task_to).name %>
      <% end %>
    <% else %>
      <%= link_to mark_as_read_notification_path(notification.id),class:"dropdown-item" do%>
        <%= notification.user.name + " " + notification.action + " a task, assigned to You."%>
      <% end %>
    <%end%>
  <% end %>
<% end %>